<!doctype html>
<html>

<head>
    <title>Unfollowers</title>
</head>

<body>
    <h1>Unfollowers list</h1>
    <h2>Download follower following data from <a href="https://privacycenter.instagram.com/guide/dyi/">here</a></h2>
    <form method="POST" action="" enctype="multipart/form-data">
        <p>Upload following.html</p>
        <p><input type="file" name="following" accept=".html"></p>
        <p>Upload followers_1.html</p>
        <p><input type="file" name="followers" accept=".html"></p>
        <p><input type="submit" value="Submit"></p>
        <h6>Made by Rushmil Goel</h6>
    </form>
</body>

</html>